/* GLOBAL */
p {
	color: #999;
	font-size: 16px;
}
.btn {
	margin: 1%;
	color: white;
	padding: 2% 1%; 
}
.btn-gris {
	background-color: #323A45;
	color: #ccc;
}
.btn-trans {
	background-color: rgba(150, 150, 150, 0.3);
}
.build {
	background-image: url("../img/background/city.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	height: 400px;
}

.call{
	background-color: rgba(0, 0, 0, 0.6);
	height: 100%;
	color: white;
	text-align: center;
}
/*
.build  {
	background-color: rgba(0, 0, 0, 0.4);
	height: 100%;
	padding: 2%;
	text-align: center;
}
*/
.build p {
	color: white;
}
.greyfont {
	background-color: #F4F4F4;
	padding: 2%;
	text-align: center;
}
.thumbnail {
	padding: 2%;
	border-radius: 0;
}
/* CALL */
}
.callintro{
	padding: 4%;
	line-height: 40px;
}
.callintro p {
	font-size: 20px;
	padding: 5%;
}
/* PRICING 
.pricing .row {
	padding: 0 4%;
}
*/
.cost .thumbnail* {
	margin: 0;
}
.cost .thumbnail{
	padding: 35px 20px;
	margin-top: 30px;
}
.bar {
	height: 100px;
	background-color: #888;
	color: white;
	padding: 30px;
}
.premium {
	background-color: #0DC0C0;
}
.dollar{
	height: 150px;
	background-color: #fff;
	font-size: 20px;
	padding: 50px 0;
}
.dollar p {
	color: #323A45;
}
.dollar p span {
	font-size: 30px;
}
.content {
	padding: 30px;
	padding-bottom: 0;
}
.content div {
	border-bottom: 1px solid #fff;
	padding: 15px;
}
.caract .btn-lg {
	padding: 6px 14%;
}
/* TESTIMONIALS */

/* CONTACT */

/* FOOTER */
